@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  /* Colors */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  /* Typography */
  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Font sizes */
  --font-size-base: 0.813rem; /* 13px */
  --font-size-xs: 0.688rem; /* 11px */
  --font-size-lg: 1.25rem; /* 20px */

  /* Spacing */
  --spacing-1: 1rem; /* 16px */
  --spacing-2: 2rem; /* 32px */
  --spacing-4: 4.563rem; /* 73px */

  /* Borders */
  --border-radius: 0.5rem; /* 8px */
  --border-width: 0.25rem; /* 4px */

  /* Widths */
  --content-mobile-width: 19.063rem; /* 305px */

  --image-mobile-width: 2rem; /* 32px */
  /* Heights */
  --image-mobile-height: 2rem; /* 32px */

  /* Shadow */
  --shadow: 50px 50px 50px 0px rgba(18, 18, 18, 0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--grey-500);
  background-color: var(--grey-100);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-2);
  margin-block-start: var(--spacing-4);
  margin-block-end: var(--spacing-4);
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  width: var(--content-mobile-width);
  padding: var(--spacing-2);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: var(--purple-50);
  color: var(--grey-500);
}

.testimonial-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

.testimonial-image {
  width: var(--image-mobile-width);
  height: var(--image-mobile-height);
  border-radius: 50%;
}

.testimonial-name {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
}

.testimonial-status {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

.testimonial-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}
.testimonial-text {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.35;
}

.testimonial:first-child {
  background-color: var(--purple-500);
  color: var(--white);
}

.testimonial:first-child .testimonial-image {
  border: 2px solid var(--purple-300);
}

.testimonial:nth-child(2) {
  background-color: var(--grey-500);
  color: var(--grey-100);
}

.testimonial:nth-child(2) .testimonial-image {
  border: 2px solid var(--grey-200);
}

.testimonial:nth-child(3),
.testimonial:nth-child(5) {
  background-color: var(--white);
  color: var(--grey-400);
}

.testimonial:nth-child(3) .testimonial-image,
.testimonial:nth-child(5) .testimonial-image {
  border: 2px solid var(--grey-200);
}

.testimonial:nth-child(4) {
  background-color: var(--dark-blue);
  color: var(--purple-50);
}

.testimonial:nth-child(4) .testimonial-image {
  border: 2px solid var(--purple-300);
}
